<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="MicrosoftAppId" value="089d84da-7dda-4edd-90c3-d065696f0026" />
	  <add key="MicrosoftAppPassword" value="cwNUU52~#(}ooldqLTFA549" />
    <add key="LUIS_Url" value="https://westeurope.api.cognitive.microsoft.com/luis/v2.0/apps/1ab8cedf-6602-4c4c-8236-ab5424e70186" />
    <add key="LUIS_Subscription_Key" value="66e3e38b31d643a395986edbaf858336" />
    <add key="AzureWebJobsStorage" value="DefaultEndpointsProtocol=https://cb41e43f.ngrok.io/api/messages"/>
  </appSettings>

</configuration>